body {
    background-color: #222222;
    margin: 0px;
}

#contents {
    background-color: white;
    width: 71%;
    margin: 0 20%;
    font-family:  'Open Sans', sans-serif;
    font-size: 14pt;
    font-weight: 400;
    line-height: 22pt;
}


ul { 
    list-style-type: none;
    
}

li { line-height: 16pt; }

div#name.box {
    background-color: lightgray;
}

.box {
    margin: 0px 0;
    padding: 20px;
    background-color: white;
    position: relative;
}

.boxtitle {
    text-align: left;
    padding-right: 0px;
    font-weight: bold;
}

div#news.box {
    margin 20px 0;
    padding 10px;
    padding-left: 25px;
}

div#sidebar {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-left: 25px;
    width: 20%;
    top: 10%;
    left: 10px;
}

div#sidebarcontent {
    width: 100%;
}


#sidebar img
{
    display: block;
    margin-right: auto;
    margin-bottom: 25px;
    border-radius: 50%;
    
}

div#news .boxtitle {
    text-align: left;
}

.project {
    margin: 30px 0;
    padding: 20px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
}

.projecttitle {
    text-align: left;
    font: 130% 'Nobile';
    font-family: 'Nobile' serif;    
}

.projectdesc {
    text-align: justify;
}

h2.subproject {
    font: 100% 'Nobile';
    font-weight: bold;
    font-family: 'Nobile' serif;    
}

ul { padding-left: 1em; }
li { margin-bottom: 0.5ex; }
img.validator { border: none; }
.clear { clear: both; }
.pub .title { font-style: italic; color: black; }
.right { float: right;	 
         width: 200px;
	 margin-top: -10px;
       }
#photo { text-align: right; }
#nameright { text-align: right; }

h1#topname {
    margin: 0px;
    font: 250% 'Nobile';
    font-family: 'Nobile' serif;
    font-weight: bold;
    text-align: center;
}

p#desc {
    text-align: center;
    font-size: 110%;
}

p#imgdesc {
    text-align: center;
}

figure {
    float: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%
}

h1 {
    margin: 0px;
    font: 170% 'Nobile';
    font-family: 'Nobile' serif;
}

h3 {
    font: 100% 'Nobile';
    font-family: 'Nobile' serif;
    font-weight: bold;
    margin-bottom: 1px;
}

img.new {
    position: relative;
    left: -38px;
    top: -1px;
    vertical-align: middle;
    margin-right: -38px;
    padding-right: 0px;
}

.bibtex {
    display: none;
    border: dotted 1px lightgray;
    padding: 5px;
}

.refType {
    font-weight: bold;
    font-size: 90%;
    color: gray;
}


a:link { color :  #2980b9; text-decoration : none; }

a:visited { color :  #2980b9; text-decoration : none; }

a.refType {
    font-weight: bold;
    color: gray;
}

a:hover { text-decoration : underline; }
a:active { text-decoration : underline; }

#sidebar a  { color : gray; text-decoration : none; }

@media (max-width: 900px) {
    #contents {
        width: 95%;
        margin: 10px auto;
    }

    div#sidebar {
        display: none;
    }
}
